.fade {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.8;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 500px;
  height: 400px;
  z-index: 1;

  border-radius: 10px;

  background-color: #a1a1aa;
  border: 1px solid #a1a1aa;
}

.modal h2 {
  margin-bottom: 1em;
}

.modal form {
  width: 90%;
}