.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.details {
  text-align: left;
}

.details h4 {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.actions i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  border-radius: 50%;
  background-color: #3f3f46;
  padding: .4em;
  cursor: pointer;
  transition: .5s;
}

.actions i:hover {
  color: #8b5cf6;
}