.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  min-height: 91.6vh;
  text-align: center;
  padding: 2em;

  background-color: #27272a;
  color: white;
}

.main h2 {
  margin-bottom: 0.8em;
}